using '../main.bicep'

param namePrefix = 'acme'
param environment = 'dev'
param location = 'westeurope'
param sqlAdminGroupObjectId = '00000000-0000-0000-0000-000000000000'   // AAD group object ID

// Override SKUs for dev
// param postgresSku = 'Standard_B1ms'
// param caMinReplicas = 0
// param caMaxReplicas = 3
// param redisSku = ''   // skip Redis in dev
